*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
h2{
    text-align: center;
    color: white;
    margin-bottom: 200px;
    font-family: monospace;
}


.ring{
    color: orangered;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    background-color: transparent;
    border: 3px solid #3c3c3c;
    position: absolute;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
}